.group{
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  
  i.edit {
    cursor: pointer;
    color: #607d8b;

    &:hover {
      color: #b0bec5 !important;
    }
  }

  h5{
    font-size: 1.64rem;
    line-height: 110%;
    cursor: pointer;
  }
  
  input.editor{
    font-size: 1.64rem;
    line-height: 110%;
    border: 0;
    outline: none;
  }

  &.selected-group{
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .group-handle {
    cursor: move;
  }

  .header {
    margin: 10px 0;
    
    * {
      margin: 5px 10px;
    }

    
  }

  a{
    z-index: 0;
  }

  .description{
    padding-left: 10px;
    margin-bottom: 5px;
    
    * {
      margin: 0 10px;
    }

    .descriptionText{
      display: inline-block;
      cursor: pointer;
      color: gray;
    }
    
    .editor{
      font-size: 1.15rem;
      color: gray;
    }

  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 15px;

    .show-more{
      display: inline-block;
      cursor: pointer;
      border-radius: 5px;
      background-color: #546e7a;

      &:hover{
        background-color: #90a4ae;
      }
    }

    .show {
      display: block !important;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 30px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
        opacity: 1;
        border-radius: 5px;
        transition: 3ms;
        
        .tag {
          color: black;
          margin: 0;
          cursor: pointer;
          padding: 5px;
          
          i{
            margin: 0px;
            margin-left: 10px;
          }

          span{
            font-size: 0.8rem;
          }

          &:hover{
            background-color: #ddd;
          }
        }
       
        input{
            width: 100px;
            font-size: 0.8rem;
            margin: 5px 15px;
            height: 20px;
        }
      }
    }
}