.sidenav {
    $item-font-size: 0.8rem;
    $title-font-size: $item-font-size *1.5;

    transform: translateX(0%) !important;
    padding: 50px 20px;
    width: 250px !important;
    z-index: 999 !important;

    #search-wrapper i{
        position: absolute;
        top: 60px;
        right: 20px;
        cursor: default;
    }
    
    .section{
        margin-bottom: 20px;
    }
    
    .item{
        display:block;
        font-size: $item-font-size;
        margin: 10px 0px;
        padding: 5px 5px;
    }
    
    .title{
        font-size: $title-font-size;
    }
    
    .clickable *:hover{
        color:white;
    }

    .sortable-ghost {
        margin: 0;
        visibility: hidden;
    }
    
    .sortable-chosen {
        opacity: 1;
        border: #455a64 solid 1px;
        border-radius: 5px;
        padding-left: 3px;
        background-color: rgba(89,116,129,0.4)
    }

    #groups{
        .title{
            display: inline-block;
            cursor: pointer;
            line-height: 200%;
            margin: 0;
        }
        
        .item{
            border-radius: 5px;
            margin: 3px 0;
        }

        .drop-container{
            background-color: #455a64;
        }

        img.handle {
            cursor: move;
        }
    }

    #tags{
        .item{
            display: inline-block;
            margin: 3px 0px;
        }

        input{
            font-size: $item-font-size;
            height: 20px;
            margin-top: 5px;
            padding: 3px 5px;
        }

        input.editor{
            padding: 5px 5px;
            margin: 4px 0px;
            border: 0;
            outline: none;
            color: white;
            font-size: $item-font-size;
            line-height: 110%;
            background-color: #263238;
        }
        
        i{
            margin: 3px 0px;
            padding: 3px 5px;
        }
    }
}