#tabs{
  .tab {
    margin: 5px 0px;

    * {
      margin-left: 5px;
    }

    .tab-handle {
        width: 15px;
        opacity: 0.2;
        cursor: move;
    }
    .checkbox {
      opacity: 0.7;
    }

    &:hover i.hidden{
      opacity: 1 !important;
    }

    a.checked {
      color: #b3d5e6;
      text-decoration: line-through;
    }
  }

  i.hidden{
    opacity: 0.2;
    cursor: pointer;
    transition: opacity 300ms;
  }

}