#toolbar{
    position: fixed;
    top: 20px;
    left: 250px;
    right: 0;
    border-radius: 10px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;

    li{
        margin-left: 25px;
        
        .text{
            font-size: 1.2rem;
        }
        
        ::placeholder { 
            color: white;
            opacity: 0.6;
        }

        input{
            border-bottom: 1px solid white !important;
            height: 30px;
        }

        input:focus {
            border-bottom: 1px solid white !important;
            box-shadow: 0 1px 0 0 white !important
        }
    }
}