[v-cloak]{
    display: none;
}

html {
    scroll-behavior: smooth;
}

.favicon {
    width: 15px;
    margin-right: 5px;
}
ul {
    list-style: none;
}
div {
    width: 100%;
}
.clickable{
    cursor: pointer;
}

.delete{
    visibility: hidden;
    width: 20px;
}

.tab {
    display: flex;
    align-items: center;
    margin: 6px 0px;
}
.tab:hover .delete{
    visibility: visible;
}

.sortable-chosen {
    opacity: 0.7;
}
.sortable-ghost {
    border: 2px dashed teal;
    margin: 5px;
    
}

.title{
    display: inline;
    margin-right: 10px;
    cursor: pointer;
}

.group{
    margin-bottom: 20px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.date{
    margin-left: 10px;
}

input.editor{
    font-family: "Segoe UI", Tahoma, sans-serif;
    padding: 0px;
    border: 0;
    outline: none;
    font-size: 1.5em;
    font-weight: bold;
}

img.title-handle {
    width: 20px;
    cursor: move;
}

img.handle {
    width: 15px;
    cursor: move;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav .sidenav-group {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    cursor: pointer;
  }
  .sidenav .drop-container{
    outline: 1px dashed teal;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav .sidenav-group:hover {
    color: #f1f1f1;
  }

  .group-side{
      margin-bottom: 10px;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }