.favicon {
    width: 15px;
    margin-right: 5px;
}
ul {
    list-style: none;
}
div {
    width: 100%;
}
.clickable{
    cursor: pointer;
}

.delete{
    visibility: hidden;
    width: 20px;
}
.tab:hover .delete{
    visibility: visible;
}

.title{
    display: inline;
    margin-right: 10px
}