[v-cloak]{
    display: none;
}

.favicon {
    width: 15px;
    margin-right: 5px;
}
ul {
    list-style: none;
}
div {
    width: 100%;
}
.clickable{
    cursor: pointer;
}

.delete{
    visibility: hidden;
    width: 20px;
}

.tab {
    display: flex;
    align-items: center;
    margin: 6px 0px;
}
.tab:hover .delete{
    visibility: visible;
}

.sortable-chosen {
    opacity: 0.7;
}
.sortable-ghost {
    border: 2px dashed teal;
    margin: 5px;
    
}

.title{
    display: inline;
    margin-right: 10px;
    cursor: pointer;
}

.group{
    margin-bottom: 50px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.date{
    margin-left: 10px;
}

input.editor{
    font-family: "Segoe UI", Tahoma, sans-serif;
    padding: 0px;
    border: 0;
    outline: none;
    font-size: 1.5em;
    font-weight: bold;
}

img.title-handle {
    width: 20px;
    cursor: move;
}

img.handle {
    width: 15px;
    cursor: move;
}