script(src='lib/vue.js')
// development version, includes helpful console warnings
script(src='lib/Sortable.min.js')
script(src='lib/vuedraggable.umd.min.js')
script(src='js/utils.js')
script(src='js/sessions.js')