#search-wrapper
    input.white-text(v-model='search' placeholder='Search title...')
    i.material-icons.right search

#groups.section
    .clearfix
        h5.white-text.unselectable.title.left(@click='clearSelectedTags') GROUPS
        a.waves-effect.waves-light.btn-small.red.lighten-1.right(@click='deleteEmptyGroups') 
            span Delete empty
            //- i.material-icons.left delete
    draggable(v-model='state.groups', handle='.handle') 
        .clickable( v-for='group in state.groups', 
                    @click='scrollto(group.id)')
            img.handle(src="img/drag_sidenav.png", alt="")
            h6.item(:data-id='group.id', 
                :class="{'drop-container':inDrag}", 
                @dragover.prevent='', 
                @drop='moveTab', 
                @dragenter='highlight', 
                @dragleave='removeHighlight') {{group.title || 'Untitled'}}
    h6.item.clickable.center(:data-id='0', 
        :class="{'drop-container':inDrag}", 
        @dragover.prevent='', 
        @drop='moveTabNewGroup', 
        @dragenter='highlight', 
        @dragleave='removeHighlight'
        v-if='inDrag') NEW GROUP

#tags.section
    h5.white-text.unselectable.title TAGS
    .clickable.unselectable(@click='clearSelectedTags') 
        h6.item ALL
    .clickable.unselectable.clearfix(v-for='tag in state.tags')
        input.browser-default.editor(v-model='tag.title', 
                                :placeholder='tag.title', 
                                v-if='updateTagID == tag.id', 
                                @keyup.enter="updateTagID = ''", 
                                @blur="updateTagID = ''", 
                                v-focus, v-resizable, type='text')
        h6.item.left(@click='addToSelectedTags(tag.id)', v-else='') {{tag.title}}
        i.tiny.material-icons.right.delete(@click='deleteTag(tag.id)') delete
        i.tiny.material-icons.right(@click='updateTagID = tag.id') edit
    input.white-text(placeholder='NEW TAG...', @keyup.enter='addTag', type='text')

//- #archive.section
//-     h5.white-text.clickable.unselectable.title(@click='displayArchive') ARCHIVE