#tabs
    draggable(v-model='group.tabs', group='session', handle='.tab-handle', @start='saveID', @end='endDrag')
        .valign-wrapper.tab.unselectable(v-for='tab in filteredTabs(group.tabs)', :data-id='tab.id')
            i.material-icons.hidden.red-text(@click='deleteTab(group.id, tab.id)') highlight_off
            i.material-icons.yellow-text.text-darken-2(@click='starTab(group.id, tab.id)', v-if='tab.starred') star
            i.material-icons.hidden.yellow-text.text-darken-2(@click='starTab(group.id, tab.id)', v-else) star_border
            img.tab-handle(src="img/drag_tab.png", alt="")
            img.favicon(:src='getFavicon(tab)')
            label.checkbox.default-browser
                input(type='checkbox', v-model='tab.checked')
                span
            a(:href='tab.url', target='_blank') {{tab.title}}