#head-text
  h4 Saved Sessions - There are {{tabsNumber}} saved tabs.
  h6(v-if='selectedTags.length != 0') Filtered by tag: {{selectedTag}}
  h6(v-if='search.length != 0') Search results for {{search}}
  h6(v-if='state.groups.length == 0') There are no saved sessions!
  a.btn-floating.btn-large.waves-effect.waves-light.green(@click='createNewGroup')
    i.material-icons add
  .divider