transition(name='slide-fade')
  nav#toolbar(v-if='merge.length != 0')
    .nav-wrapper.orange.lighten-2
      i.material-icons.left(@click='cancelMergeSelection') close
      ul.left
        li
          a.waves-effect.waves-light.btn.red.lighten-1.white-text(@click='deleteSelectedGroups') Delete
      ul.right
        li
          span.white-text.text {{merge.length}} groups selected
        li
          input.white-text(v-model='mergeTitle', 
                          @keyup.enter='mergeGroups', 
                          placeholder='New group title', 
                          type='text')
        li
          a.waves-effect.waves-light.btn-flat.white-text(@click='mergeGroups') Merge