<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/sessionsStyle.css">
  <link rel="stylesheet" href="css/material-icon.css">
  <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
  <script src="js/materialize.min.js"></script>
  <title>Saved Sessions</title>
</head>
<body>
  <div id="app" v-cloak>
    <div class="sidenav sidenav-fixed blue-grey darken-4 grey-text text-lighten-2">
      <div id="search-wrapper">
        <input class="white-text" v-model="search" placeholder="Search title..."><i class="material-icons right">search</i>
      </div>
      <div class="section" id="groups">
        <div class="clearfix">
          <h5 class="white-text unselectable title left" @click="clearSelectedTags">GROUPS</h5><a class="waves-effect waves-light btn-small red right" @click="deleteEmptyGroups"> <span>Delete empty</span></a>
        </div>
        <div class="clickable" v-for="group in state.groups" @click="scrollto(group.id)">
          <h6 class="item" :data-id="group.id" :class="{'drop-container':inDrag}" @dragover.prevent="" @drop="moveTab" @dragenter="highlight" @dragleave="removeHighlight">{{group.title || 'Untitled'}}</h6>
        </div>
        <h6 class="item clickable center" :data-id="0" :class="{'drop-container':inDrag}" @dragover.prevent="" @drop="moveTabNewGroup" @dragenter="highlight" @dragleave="removeHighlight" v-if="inDrag">NEW GROUP</h6>
      </div>
      <div class="section" id="tags">
        <h5 class="white-text unselectable title">TAGS</h5>
        <div class="clickable unselectable" @click="clearSelectedTags"> 
          <h6 class="item">ALL</h6>
        </div>
        <div class="clickable unselectable clearfix" v-for="tag in state.tags">
          <input class="browser-default editor" v-model="tag.title" :placeholder="tag.title" v-if="updateTagID == tag.id" @keyup.enter="updateTagID = ''" @blur="updateTagID = ''" v-focus v-resizable type="text">
          <h6 class="item left" @click="addToSelectedTags(tag.id)" v-else="">{{tag.title}}</h6><i class="tiny material-icons right delete" @click="deleteTag(tag.id)">delete</i><i class="tiny material-icons right" @click="updateTagID = tag.id">edit</i>
        </div>
        <input class="white-text" placeholder="NEW TAG..." @keyup.enter="addTag" type="text">
      </div>
    </div>
    <div class="main">
      <transition name="slide-fade">
        <nav id="toolbar" v-if="merge.length != 0">
          <div class="nav-wrapper orange lighten-2"><i class="material-icons left" @click="cancelMergeSelection">close</i>
            <ul class="right">
              <li><span class="white-text text">{{merge.length}} groups selected</span></li>
              <li>
                <input class="white-text" v-model="mergeTitle" @keyup.enter="mergeGroups" placeholder="New group title" type="text">
              </li>
              <li><a class="waves-effect waves-light btn-flat white-text" @click="mergeGroups">Merge</a></li>
            </ul>
          </div>
        </nav>
      </transition>
      <div id="head-text">
        <h4>Saved Sessions - There are {{tabsNumber}} saved tabs.</h4>
        <h6 v-if="selectedTags.length != 0">Filtered by tag: {{selectedTag}}</h6>
        <h6 v-if="search.length != 0">Search results for {{search}}</h6>
        <h6 v-if="state.groups.length == 0">There are no saved sessions!</h6><a class="btn-floating btn-large waves-effect waves-light green" @click="createNewGroup"><i class="material-icons">add</i></a>
        <div class="divider"></div>
      </div>
      <draggable v-model="state.groups" handle=".group-handle">
        <div class="group" :class="{'selected-group' : merge.includes(group.id)}" v-for="group in filteredGroups" :data-id="group.id">
          <div class="valign-wrapper header"><i class="material-icons group-handle">drag_handle</i>
            <input class="browser-default editor" v-model="group.title" :placeholder="group.title" v-if="updateGroupID == group.id" @keyup.enter="updateGroupID = ''" @blur="updateGroupID = ''" v-focus v-resizable type="text">
            <h5 class="unselectable" @dblclick="updateGroupID = group.id" v-else="">{{group.title}}</h5><i class="tiny material-icons" @click="updateGroupID = group.id">edit</i><a class="selectbtn waves-effect waves-light btn-small orange lighten-2" @click="addToMerge($event, group.id)">Select</a>
            <div class="dropdown">
              <div class="show-more" @click="showTagMenu"><i class="unselectable tiny white-text material-icons">details</i></div>
              <div class="dropdown-content">
                <div class="unselectable tag" @click="toggleTagInGroup(group.id, tag.id)" v-for="tag in state.tags">
                  <transition name="slide-fade-x"><i class="tiny material-icons" v-if="group.tags.includes(tag.id)">check</i></transition><span>{{tag.title}}</span>
                </div>
                <input placeholder="NEW TAG..." @keyup.enter="addTag" type="text">
              </div>
            </div>
          </div>
          <div class="valign-wrapper header">
            <h6 class="unselectable">{{ group.tabs.length }} tabs</h6><span class="header-action clickable unselectable" @click="deleteGroup(group.id)">Delete Group</span><span class="header-action clickable unselectable" @click="openAlltabs(group.id)">Open all tabs</span><span class="date">Created on {{group.date}}</span>
          </div>
          <div class="description">
            <input class="browser-default editor" v-model="group.description" :placeholder="group.description" v-if="updateGroupDescription == group.id" @keyup.enter="updateGroupDescription = ''" @blur="updateGroupDescription = ''" v-focus v-resizable type="text">
            <h6 class="unselectable descriptionText" @dblclick="updateGroupDescription = group.id" v-else>{{group.description}}</h6>
          </div>
          <div id="tabs">
            <draggable v-model="group.tabs" group="session" handle=".tab-handle" @start="saveID" @end="endDrag">
              <div class="valign-wrapper tab unselectable" v-for="tab in filteredTabs(group.tabs)" :data-id="tab.id"><i class="material-icons hidden red-text" @click="deleteTab(group.id, tab.id)">highlight_off</i><i class="material-icons yellow-text text-darken-2" @click="starTab(group.id, tab.id)" v-if="tab.starred">star</i><i class="material-icons hidden yellow-text text-darken-2" @click="starTab(group.id, tab.id)" v-else>star_border</i><i class="material-icons tab-handle">drag_handle</i><img class="favicon" :src="getFavicon(tab)">
                <input type="checkbox" v-model="tab.checked"><a :href="tab.url" target="_blank">{{tab.title}}</a>
              </div>
            </draggable>
          </div>
        </div>
      </draggable>
    </div>
  </div>
  <script src="lib/vue.js"></script>
  <!-- development version, includes helpful console warnings-->
  <script src="lib/Sortable.min.js"></script>
  <script src="lib/vuedraggable.umd.min.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/sessions.js"></script>
</body>