doctype html
html(lang="en")

include partials/header
body
  #app(v-cloak :class="{'dark' : state.darktheme}")
    .sidenav.sidenav-fixed(:class="{'dark' : state.darktheme}")
      include partials/sidenav
    include partials/topbar
    .main
      include partials/toolbar
      include partials/textHeader
      include partials/group
  
  include partials/scripts